*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html{
    height: 100%;
    box-sizing: border-box;
}
body{
    background-color:#3AAFA9;
    color: antiquewhite;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}
header{
    background-color: #1a8680;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    z-index: 1;
    align-items: center;

}
header nav h1{
    text-transform: uppercase;
    font-size: 30px;
}

header nav form button{
    background-color: rgb(111 171 62);
    border-color: rgb(111 171 62);
    font-size: large;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    
}
header nav form input{
    font-size: large;
    border-radius: 5px;
    flex-grow: 1;
}
form input[type="text"]
{
    flex-grow: 1;
    margin-right: 10px;
}
/* form input[type="text"], button[type="submit"]{
    border: none;
    font-size: 18px;
} */
/* main container */
main section{
    display: flex;
    justify-content: center;
    
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 15px;
    /* height: 90vh; */
}


main section .recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 15px;
    width: 80%;
    margin: 10px auto;
    padding: 20px;
}
main section .recipe-container image img{
    /* image-resolution: 10; */
    height: 20px;
    width: 10px;
}
.recipeStyle{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    box-shadow: 0 10px 15px rgba(78,73,73,0.1),-10px -10px 15px rgba(34,73,73,0.1);
    cursor: pointer;
    border-radius: 5px;
}
/* .recipeStyle img{
    height: 100px;
    width: 50px;
} */
/* css for style the detail button */
.recipeStyle button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin: 18px auto;
    background-color: rgb(99, 255, 71);
    border-color: #fff;
    color: #fff;
}

/* CSS for style the close botton of view details */
main section .recipeDetail button{
    position: absolute;
    right: 10px;
    font-size: 30px;
    background-color: rgb(15, 183, 160);
    border: none;
    color: rgb(154, 234, 51);
    
}
main section .recipeDetail button :hover{
    color: red;
}


/* ************************************************************* */
.recipeStyle button:hover{
    background-color:rgba(20, 102, 6, 0.749); ;
}
/* Recipe details. */
main section .recipeDetail{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: rgb(15, 183, 160);
    border-radius: 12px;
    width: 30%;
    height: 50%;
    font-size: 20px;
    
}





/* Footer */
footer{

    background-color: rgb(75, 75, 75);
    height: 80px;
    font-weight: 700;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    

    
}
footer .footer-fas{
    display: inline;
    text-align: center;
    align-items: center;
}
footer .footer-fas .copyright{
    display: inline;
    text-align: center;
    align-items: center;
}
footer .footer-fas .icons a{
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 4px;
    margin: 5px;
    border: 2px solid;
    background-color: rgb(75, 75, 75);
    color: #fff;
    font-size: large;
    border-radius: 5px;

}
footer .icons a:hover{
    background-color: rgb(255, 183, 0);
}
/* CSS for media quary to make website resposive with phone laptop and tablet */
@media screen and(max-width:600px){

    header nav.responsive{
        display: flex;
        flex-flow: column;
        flex-direction: column;
    }
    header nav form.responsive{
        width: 30%;
        margin-top: 20px;
    }
}


